nav.navbar {
  background: linear-gradient(#00358a, #0052d6);
}

section.project,
section.profile {
  background-color: #c2d9ff;
}

footer {
  background: linear-gradient(#0052d6, #003da0, #002663);
  color: white;
}

/* button.navbar-toggler:active + section {
  padding-top: 10rem !important;
} */

section {
  padding-top: 5rem;
}

section.tools {
  margin-bottom: 15rem;
}

.parent-tool {
  display: flex;
  justify-content: center;
}

.box-img {
  /* border: 1px solid black; */
  margin-bottom: 35px;
  display: flex;
  justify-content: center;
}
/* .box-img:nth-child(13) img.tool-img,
.box-img:first-child img.tool-img {
  height: 95px;
} */
.box-img img {
  width: 100%;
  aspect-ratio: 1/1;
  object-fit: contain;
}

.tools .parent-tool > * {
  padding: 5px;
}

@media screen and (max-width: 576px) {
  section.profile p.lead {
    font-size: 15px;
  }
  section.profile h1 {
    padding-top: 1em;
  }
  section.profile {
    margin-bottom: 5rem;
  }
  /* .box-img:nth-child(8) img.tool-img {
    height: 30px;
  }
  .box-img:nth-child(11) img.tool-img {
    height: 40px;
  }
  .box-img:nth-child(13) img.tool-img {
    width: 40px;
  } */

  .box-img {
    width: 30%;
  }

  .box-img img {
    width: 60%;
  }
  /* .tool-img {
    width: 80px;
    height: 80px;
  } */
  section.tools {
    margin-bottom: 3rem;
  }
  section.contact .container {
    margin-bottom: 16rem;
  }
}
